.comment {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.commentBox {
  flex: 1;
}

.commentContent header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.commentContent {
  border-radius: 8px;
  padding: 1rem;
  background: var(--gray-700);
  display: flex;
  flex-direction: column;
}

.commentContent p {
  margin-top: 1.5rem;
  color: var(--gray-300);
}

.commentAuthor strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.commentAuthor time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.comment footer {
  margin-top: 1rem;
}

.commentContent header button {
  background-color: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
}

.commentContent header button:hover {
  color: var(--red-500);
}

.commentBox footer {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  color: var(--gray-400);
  align-items: center;
}

.commentBox footer button {
  background-color: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
}

.commentBox footer button:hover {
  color: var(--green-300);
}
