.post {
background: var(--gray-800);
border-radius: 8px;
padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1.5rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.content a:hover {
  color: var(--green-300);
}

.content p ul {
  list-style: none;
}

.content p ul li {
  display: inline;
  padding-right: 0.5rem;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: 0.875rem;
  color: var(--gray-400)
}
.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo strong {
  display: block;
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 1.6;
}

.avatar {
  box-sizing: initial;
  border-radius: 50%;
  width: 3rem;
  border: 4px solid var(--gray-600);
  outline: 2px solid var(--green-500);
}

.commentForm {
  width: 100%;
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

.commentForm strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm textarea {
  width: 100%;
  background: var(--gray-900);
  color: var(--gray-100);
  resize: none;
  height: 6rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0px;
  padding: 1rem;
  line-height: 1.4;
}

.commentForm button {
  padding: 1rem 1.5rem;
  background: var(--green-500);
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.2s;

  visibility: hidden;

}

.commentForm button:hover {
  background: var(--green-300);
}
